<div style="background-image:url('https://dl.dropboxusercontent.com/u/18653929/Fotolia_41772907_M.jpg'); background-repeat:no-repeat; height: 800px; width: 1300px">
<div class="containter-fluid">
	<div class="row-fluid" id="pageHeader">
		<div class="span6 hero-unit" style="color:black; padding-left: 30px; background-color:#ffffff; border:1px grey; opacity:0.93; filter:alpha(opacity=93); position:fixed; z-index: 100;  top:30%;  left:30%;  margin:-100px 0 0 -100px;  width:400px;  height:700px;">

<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? %>
    <div><%= f.check_box :remember_me %><%= f.label :remember_me, :class => "checkbox inline" %></div>
  <% end -%>

  <div style="padding-top: 30px;"><%= f.submit "Sign in", :class => 'btn btn-warning' %></div>
<% end %>

<%= render "devise/shared/links" %>

</div>
		</div>
	</div>	
	</div>
