<div style="background-image:url('http://www.kickboxing-swindon.co.uk/wp-content/uploads/2013/05/cartoon-girl-with-weights.jpg'); background-repeat:no-repeat; height: 600px; width: 1200px">
<div class="containter-fluid">
	<div class="row-fluid" id="pageHeader">
		<div class="span6 hero-unit" style="color:black; padding-left: 30px; background-color:#ffffff; border:1px grey; opacity:0.93; filter:alpha(opacity=93); position:fixed; z-index: 100;  top:30%;  left:30%;  margin:-100px 0 0 -100px;  width:400px;  height:700px;">

<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "devise/shared/links" %>

</div>
		</div>
	</div>	
	</div>
